# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
frontend/node_modules/

# Expo
.expo/
frontend/.expo/
.expo-shared/
dist/
frontend/dist/
web-build/
frontend/web-build/
expo-env.d.ts
frontend/expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# local env files
.env
!.env.example
.env.*

# typescript
*.tsbuildinfo

app-example
frontend/app-example

# generated native folders
/ios
/android

# Backend (Rust)
/backend/target/
